<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Mytheme">
        <activity
            android:name=".homeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Mytheme.NoActionBar"></activity>
        <activity android:name=".home" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Mytheme.NoActionBar" />
        <activity
            android:name=".userhome"
            android:label="@string/title_activity_userhome"
            android:theme="@style/Mytheme.NoActionBar" />
        <activity
            android:name=".home_activity"
            android:label="@string/title_activity_home_activity"
            android:theme="@style/Mytheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Mytheme.NoActionBar" />
        <activity android:name=".addnewproduct" />
        <activity android:name=".user_settings" />
        <activity android:name=".admin_category" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>